<section>
    <div class="imgBx">
        <img src="../../../../assets/images/login-image.jpg" alt="">
        <div class="img-text">
            <h2>Welcome to BookingCore!</h2>
            <p>Discover the future of convenience with BookingCo, a comprehensive platform
                designed to streamline your business operations. </p>
        </div>
    </div>
    <div class="contentBx">
        <div class="formBx">
            <div class="header">
                <h2>Sign Up</h2>
                <p class="info">Don't have an account? Create your own account, it takes less than a minute</p>
            </div>
            <form>
                <div class="inputBx">
                    <span>User Name</span>
                    <input type="text" name="">
                </div>
                <div class="inputBx">
                    <span>First Name</span>
                    <input type="text" name="">
                </div>
                <div class="inputBx">
                    <span>Last Name</span>
                    <input type="text" name="">
                </div>
                <div class="inputBx">
                    <span>Email address</span>
                    <input type="email" name="">
                </div>
                <div class="inputBx">
                    <span>Mobile Number</span>
                    <input type="number" name="">
                </div>
                <div class="inputBx">
                    <div class="pwd-section">
                        <div class="pwdBx">
                            <span>Password</span>
                            <input type="password" name="">
                        </div>
                        <div class="pwdBx">
                            <span>Confirm Password</span>
                            <input type="password" name="">
                        </div>
                    </div>
                </div>
                <div class="terms">
                    <input type="checkbox" name=""> 
                    <span>I accept Terms and Conditions</span>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Sign Up" name="">
                </div>
            </form>
            <div class="acc-link">
                <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
            </div>
            <div class="help">
                <p>Need help? <a href="#">Contact support</a></p>
            </div>
        </div>
    </div>
</section>