.container {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}
.edit-price-details, .edit-discount-details, .add-price-discount-details {
    h2 {
        font-size: 16px;
        font-weight: 600;
        color: var(--main-text-color);
        line-height: 24.2px;
    }
}

.card {
    box-shadow: 0px 1px 10px 2px rgba(87, 87, 87, 0.15);
    border-radius: 5px;
    border: none;
}

.hint-text {
    margin-bottom: 20px;
    span {
        font-size: 14px;
        font-weight: 700;
        color: var(--inner-box-text-color);
        line-height: 24.2px;
        margin-left: 10px;
    }
}

.row:not(.row:last-child) {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: var(--label-color);
    line-height: 21.78px;
    padding-bottom: 10px;
}

input[type=text], input[type=number] {
    outline: none;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    margin-right: 30px;
    color: var(--inner-box-text-color);
    font-size: 14px;
    height: 34px;
    padding: 0rem 0.5rem;
}

.footer-btn {
    .btn-section {
        float: right;
    }
    .btn-update {
        width: 120px;
        height: 34px;
        font-size: 14px;
        color: var(--inner-btn-color);
        background-color: var(--add-btn-color);
        line-height: 1;

        i {
            margin-left: 10px;
        }
    }
    .btn-cancel {
        width: 120px;
        height: 34px;
        font-size: 14px;
        color: var(--inner-btn-color);
        background-color: var(--sub-ele-text-color);
        margin-right: 20px;
        line-height: 1;

        i {
            margin-right: 10px;
        }
    }
}

.edit-discount-details {
    h2 {
        margin-top: 8px;
    }
    .discount-section {
        display: flex;
    }
    .discount {
        width: 50%;
        margin-right: 20px;
    }
    .btn-group-discount {
        display: flex;
        justify-content: end;
        width: 70%;
        margin-top: 20px;
    }
    .btn-add, .btn-active {
        width: 120px;
        height: 34px;
        font-size: 14px;
        color: var(--inner-btn-color);
        background-color: var(--add-btn-color);
        margin-top: 10px;
        line-height: 1;

        i {
            margin-left: 10px;
        }
    }
    .btn-add {
        width: 100px;
    }
    .btn-deactive {
        width: 120px;
        height: 34px;
        font-size: 14px;
        color: var(--inner-btn-color);
        background-color: var(--sub-ele-text-color);
        margin-top: 10px;
        margin-right: 20px;
        line-height: 1;

        i {
            margin-left: 10px;
        }
    }
}

.add-price-discount-details {
    .btn-add-new {
        width: 100%;
        height: 80px;
        font-size: 14px;
        color: var(--main-text-color);
        background-color: var(--sub-ele-text-color);
        margin-right: 20px;
        line-height: 1;
    }
}
