<div class="container">
    <div class="service-summary">
        <h2>Service Summary</h2>
        <div class="card">
            <div class="card-body">
                <div class="service-details">
                    <div class="service-summary-header">
                        <div class="row">
                            <div class="col-md-3 d-flex">
                                <label>Service ID</label><span class="info-value">SID0025800001</span>
                            </div>
                            <div class="col-md-3">
                                <label>Reservation Date</label><span class="info-value">2024-05-31</span>
                            </div>
                            <div class="col-md-3">
                                <label>Status</label><span class="status">Processing</span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-action" (click)="accept()">
                                    Action
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="service-information">
                        <div class="row">
                            <div class="information-section d-flex">
                                <div class="name d-flex">
                                    <div>
                                        <label>Name</label>
                                        <span>Kathryn McCann</span>
                                    </div>
                                </div>
                                <div class="date d-flex">
                                    <div>
                                        <label>Date</label>
                                        <span>10-06-2024 - Monday</span>
                                    </div>
                                </div>
                                <div class="duration d-flex">
                                    <div>
                                        <label>Duration</label>
                                        <span>2 hours</span>
                                    </div>
                                </div>
                                <div class="start-time d-flex">
                                    <div>
                                        <label>Start Time</label>
                                        <span>8.30 AM</span>
                                    </div>
                                </div>
                                <div class="end-time d-flex">
                                    <div>
                                        <label>End Time</label>
                                        <span>10.30 AM</span>
                                    </div>
                                </div>
                                <div class="employee d-flex">
                                    <div>
                                        <label>Selected Employee</label>
                                        <span>Sahan Kularathne</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-summary-details">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Service Details</h3>
                            </div>
                        </div>
                        <div class="details-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Service</label><br>
                                    <span>Short barber haircut </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Description</label><br>
                                    <span>
                                        Establishment that offers professional hair styling services for men and 
                                        women. Hair salons offer hair services including professional hair styling.
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label>Functionality</label><br>
                                    <span>
                                        Haircutting is the process of cutting, tapering, texturizing and thinning using any hair cutting tools.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer-details">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Total Price</h3>
                                <span class="price-detail">LKR 2700.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Discount Rate</h3>
                                <span class="price-detail">10%</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Net Price</h3>
                                <span class="price-detail">LKR 2475.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Total Duration</h3>
                                <span class="price-detail">1 hours 30 minutes</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="footer-btn">
                                <div></div>
                                <div class="btn-section">
                                    <button class="btn btn-back">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-complete">Complete</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="payment-information">
        <h2>Payment Information</h2>
        <div class="card">
            <div class="card-body">
                <div class="payment-info-section">
                    <h3>Payment Details</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Total (LKR)</label>
                            <span class="total">2850.00</span>
                        </div>
                        <div class="col-md-3">
                            <label>Discount (LKR)</label>
                            <span class="discount">250.00</span>
                        </div>
                        <div class="col-md-3">
                            <label>Payment Status</label>
                            <span class="payment-status">Pending</span>
                        </div>
                        <div class="col-md-3">
                            <label>Payment Method</label>
                            <span class="payment-method">Mastercard</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
