<div class="container">
    <div id="message-popup" class="card">
        <div class="card-header">
            Assign Employees
            <div class="close-btn">
                <i class="fa-solid fa-xmark" (click)="close()"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="content-section">
                <div class="order-type-container">
                    <div class="employee-table">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 40px;"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                                    <th style="width: 100px;"><span class="las la-sort"></span> Image</th>
                                    <th style="width: 200px;"><span class="las la-sort"></span> Employee Name</th>
                                    <th style="width: 200px;"><span class="las la-sort"></span> Address</th>
                                    <th style="width: 160px;"><span class="las la-sort"></span> Mobile Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of employeeList">
                                    <td><input type="checkbox" [(ngModel)]="employee.checked"></td>
                                    <td>
                                        <div class="logo">
                                        <img [src]="mediaUrl + employee.profileImage" class="logo-img bg-img" />
                                        </div>
                                    </td>
                                    <td>{{employee.firstName + " " + employee.lastName}}</td>
                                    <td>{{employee.address}}</td>
                                    <td>{{employee.mobileNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-section">
                        <button class="btn btn-back" (click)="close()">Cancel</button>
                        <button class="btn btn-next" (click)="onAssignEmployees()"> Assign
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5 2C4.44772 2 4 2.44772 4 3V21.382C4 22.1253 4.78231 22.6088 5.44721 22.2764L11.5528 19.2236C11.8343 19.0828 12.1657 19.0828 12.4472 19.2236L18.5528 22.2764C19.2177 22.6088 20 22.1253 20 21.382V3C20 2.44772 19.5523 2 19 2H5ZM18 4H6V20L12 17L18 20V4Z" fill="var(--inner-btn-color)"/>
                                <path d="M14.8284 7.87865C14.4379 7.48812 13.8047 7.48812 13.4142 7.87865L11.2929 9.99994L10.5858 9.2928C10.1952 8.90228 9.56208 8.90228 9.17156 9.2928C8.78103 9.68333 8.78103 10.3165 9.17156 10.707L10.5797 12.1151C10.5817 12.1172 10.5837 12.1192 10.5858 12.1213C10.9763 12.5118 11.6095 12.5118 12 12.1213L14.8284 9.29286C15.2189 8.90234 15.2189 8.26917 14.8284 7.87865Z" fill="var(--inner-btn-color)"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
