<section>
    <div class="imgBx">
        <img src="../../../../assets/images/login-image.jpg" alt="">
        <div class="img-text">
            <h2>Welcome to BookingCore!</h2>
            <p>Discover the future of convenience with BookingCo, a comprehensive platform
                designed to streamline your business operations. </p>
        </div>
    </div>
    <div class="contentBx">
        <div class="formBx">
            <div class="header">
                <h2>Login to your account</h2>
                <p class="info">Enter your email address and password to
                    access admin panel.</p>
            </div>
            <form [formGroup]="loginForm">
                <div class="inputBx">
                    <span>Email address</span>
                    <input 
                        type="email"
                        class="form-control" 
                        name="email"
                        formControlName="email"
                        [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <span class="forgot-pwd">
                        <a href="#">forgot Password?</a>
                    </span>
                    <input 
                        type="password" 
                        class="form-control"
                        name="pwd"
                        formControlName="password"
                        [ngClass]="{'is-invalid': Password.touched && Password.invalid}">
                </div>
                <div class="remember">
                    <input type="checkbox" name=""> 
                    <span>Keep me signed in</span>
                </div>
                <div class="inputBx">
                    <input type="submit" class="btn btn-primary" value="Log in" name="" [disabled]="loginForm.invalid" (click)="login()">
                </div>
            </form>
            <h3>Login with</h3>
            <ul class="sci">
                <li class="fb"></li>
                <!-- <li class="fb"></li>
                <li class="fb"></li>
                <li class="fb"></li> -->
            </ul>
            <div class="acc-link">
                <p>Don't have an acount? <a [routerLink]="['/signup']">Sign up</a></p>
            </div>
            <div class="help">
                <p>Need help? <a href="#">Contact support</a></p>
            </div>
        </div>
    </div>
</section>

<app-loader *ngIf="isLoading"></app-loader>