.body {
    width: 100%;
    height: calc(100vh - 60px);
    padding-left: calc(20% + 20px) !important;
    z-index: 0;
    position: relative;
    top: 60px;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
    padding-right: 1rem;
    padding-top: 20px;
}