<div class="container">
    <div class="assign-service">
        <div class="close-btn">
            <i class="fa-solid fa-xmark" (click)="close()"></i>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label>Search Services</label><br>
                <select>
                    <option value="">Choose Services to assign to Package</option>
                </select>
            </div>
            <div class="col-md-2">
                <br>
                <button class="btn btn-add-new-cat">
                    Assign
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <div class="assign-services-table">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 60px;"><input type="checkbox"></td>
                                <td style="width: 100px;">
                                    <div class="logo">
                                       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                    </div>
                                </td>
                                <td style="width: 200px;">Kelly Felder - Outlet 001</td>
                                <td style="width: 80px;">
                                    <span class="rate positive">4.9</span>
                                </td>
                                <td style="width: 140px;">Women Hand Bag</td>
                                <td style="width: 100px;">10-06-2024</td>
                                <td style="width: 90px;">1250</td>
                                <td style="width: 80px;">30 mins</td>
                                <td style="width: 80px;">
                                    <span class="active">Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 60px;"><input type="checkbox"></td>
                                <td style="width: 100px;">
                                    <div class="logo">
                                       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                    </div>
                                </td>
                                <td style="width: 200px;">Kelly Felder - Outlet 001</td>
                                <td style="width: 80px;">
                                    <span class="rate positive">4.9</span>
                                </td>
                                <td style="width: 140px;">Women Hand Bag</td>
                                <td style="width: 100px;">10-06-2024</td>
                                <td style="width: 90px;">1250</td>
                                <td style="width: 80px;">30 mins</td>
                                <td style="width: 80px;">
                                    <span class="active">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
