<div class="container">
    <div class="company-dashboard">
        <div class="company-menu-bar">
            <div class="browse">
               <input type="search" placeholder="Search" class="record-search">
               <label>Sort by</label>
                <select class="drp-sort" name="" id="">
                    <option value="">Name</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card company-summary-card">
                    <div class="card-body">
                        <div class="card-header">
                            <img class="company-logo bg-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppkoKsaYMuIoNLDH7O8ePOacLPG1mKXtEng&s" alt="">
                            <h1>Kelly Felder (Pvt) Ltd.</h1>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 details">
                                <label>Revenue (LKR/YR)</label><br>
                                <span>486000.00</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Number of employees</label><br>
                                <span>16</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Outlets</label><br>
                                <span>15</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Complete Orders</label><br>
                                <span>2865</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card company-summary-card">
                    <div class="card-body">
                        <div class="card-header">
                            <img class="company-logo bg-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppkoKsaYMuIoNLDH7O8ePOacLPG1mKXtEng&s" alt="">
                            <h1>Kelly Felder (Pvt) Ltd.</h1>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 details">
                                <label>Revenue (LKR/YR)</label><br>
                                <span>486000.00</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Number of employees</label><br>
                                <span>16</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Outlets</label><br>
                                <span>15</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Complete Orders</label><br>
                                <span>2865</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card company-summary-card">
                    <div class="card-body">
                        <div class="card-header">
                            <img class="company-logo bg-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppkoKsaYMuIoNLDH7O8ePOacLPG1mKXtEng&s" alt="">
                            <h1>Kelly Felder (Pvt) Ltd.</h1>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 details">
                                <label>Revenue (LKR/YR)</label><br>
                                <span>486000.00</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Number of employees</label><br>
                                <span>16</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Outlets</label><br>
                                <span>15</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Complete Orders</label><br>
                                <span>2865</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>