<div class="container">
    <div class="service-list">
        <div class="services table-responsive">
            <div class="service-menu-bar">
                <div class="browse">
                    <input type="search" placeholder="Search" class="record-search" [(ngModel)]="searchString" (ngModelChange)="onChangeSearch($event)">
                </div>
                <div class="filter-section">
                    <label>Rating</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                    <label>Category</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                    <label>Status</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                </div>
                <div class="btn-section">
                    <button class="btn btn-add" [routerLink]="['/service/add']" [queryParams]="{ outletId: outletId}">
                        <i class="fa-solid fa-plus"></i> Add Service
                    </button>
                    <button class="btn btn-export">Export</button>
                </div>
            </div>
            <div class="service-table">
                <table width="100%">
                    <thead>
                        <tr>
                            <th style="width: 100px;"><span class="las la-sort"></span> Image</th>
                            <th style="width: 200px;"><span class="las la-sort"></span> Service Name</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Rating</th>
                            <th style="width: 140px;"><span class="las la-sort"></span> Category</th>
                            <th style="width: 90px;"><span class="las la-sort"></span> Price(LKR)</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Duration</th>
                            <th style="width: 100px;"><span class="las la-sort"></span> Added Date</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Status</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of servicesList | paginate: {itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalElements};">
                            <td>
                                <div class="logo">
                                   <img [src]="getServiceImageUrl(service.fetcherMedia)" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>{{service.name}}</td>
                            <td>
                                <span class="rate positive">4.9</span>
                            </td>
                            <td>{{service.fetcherCategory?.name}}</td>
                            <td>{{getServicePrice(service.fetcherPrices) | number: '1.2-2'}}</td>
                            <td>{{getServiceDuration(service.fetcherPrices)}} hours</td>
                            <td>10-06-2024</td>
                            <td>
                                <span *ngIf="service.isActive" class="active">Active</span>
                                <span *ngIf="!service.isActive" class="deactive">Deactive</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;" routerLink="/service/add" [queryParams]="{ outletId: outletId, id: service.id }"></i>
                                <i *ngIf="service.isActive" class="fa-solid fa-trash" title="Remove" style="margin-right: 10px;" (click)="onClickRemove(service.id)"></i>
                                <i *ngIf="!service.isActive" class="fa-regular fa-circle-check" title="Active" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-eye" title="View" routerLink="/service/summary" [queryParams]="{ outletId: outletId, id: service.id }"></i>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate regular">3.2</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>10-06-2024</td>
                            <td>1250</td>
                            <td>1 hour</td>
                            <td>
                                <span class="active">Active</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate negative">2.4</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>10-06-2024</td>
                            <td>1250</td>
                            <td>1 hour</td>
                            <td>
                                <span class="deactive">Deactive</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate positive">4.9</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>10-06-2024</td>
                            <td>1250</td>
                            <td>1 hour</td>
                            <td>
                                <span class="active">Active</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="footer-section">
                <div class="table-data-size">
                    <label>Showing Products 1 to {{pageSize}} of {{totalElements}}</label>
                    <label>Display</label>
                    <select class="drp-table-size" (change)="onTableSizeChange($event)">
                        <option *ngFor="let size of tableSizes">
                            {{size + "/" + totalElements}}
                        </option>
                    </select>
                </div>
                <div class="btn-section">
                    <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-warning-popup *ngIf="isDisplayWarningPopup"
    (onClickYes)="onClickYesWarningPopup()"
    (onClickClose)="closeWarningPopup()"></app-warning-popup>

