<div class="container">
    <div id="message-popup" class="card">
        <div class="card-header">
            Order Type Selection
            <div class="close-btn">
                <i class="fa-solid fa-xmark" (click)="close()"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="content-section">
                <p>Please Choose According to Your Needs...</p>
                <div class="order-type-container">
                    <div class="order-type">
                        <div class="title">
                            Buy a Product
                        </div>
                        <div class="description">
                            If you are looking for buy a Product, Please click continue button.
                        </div>
                        <div class="btn btn-continue">Continue</div>
                    </div>
                    <div class="order-type">
                        <div class="title">
                            Buy a Service
                        </div>
                        <div class="description">
                            If you are looking for buy a Service, Please click continue button.
                        </div>
                        <div class="btn btn-continue">Continue</div>
                    </div>
                    <div class="order-type">
                        <div class="title">
                            Buy a Package
                        </div>
                        <div class="description">
                            If you are looking for buy a Package, Please click continue button.
                        </div>
                        <div class="btn btn-continue">Continue</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
