<div class="container">
    <div class="package-list">
        <div class="packages table-responsive">
            <div class="package-menu-bar">
                <div class="browse">
                    <input type="search" placeholder="Search" class="record-search">
                </div>
                <div class="filter-section">
                    <label>Rating</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                    <label>Category</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                    <label>Status</label>
                    <select class="drp-sort" name="" id="">
                        <option value="">Choose</option>
                    </select>
                </div>
                <div class="btn-section">
                    <button class="btn btn-add" [routerLink]="['/employee/add']">
                        <i class="fa-solid fa-plus"></i> Add Employee
                    </button>
                    <button class="btn btn-export">Export</button>
                </div>
            </div>
            <div class="package-table">
                <table width="100%">
                    <thead>
                        <tr>
                            <th style="width: 40px;"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                            <th style="width: 100px;"><span class="las la-sort"></span> Image</th>
                            <th style="width: 200px;"><span class="las la-sort"></span> Employee Name</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Rating</th>
                            <th style="width: 140px;"><span class="las la-sort"></span> Service</th>
                            <th style="width: 160px;"><span class="las la-sort"></span> Current Shop</th>
                            <th style="width: 110px;"><span class="las la-sort"></span> Rate Per Hour</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Status</th>
                            <th style="width: 80px;"><span class="las la-sort"></span> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList | paginate: {itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalElements}; let i = index">
                            <td><input type="checkbox"></td>
                            <td>
                                <div class="logo">
                                   <img [src]="mediaUrl + employee.profileImage" class="logo-img bg-img" />
                                </div>
                            </td>
                            <td>{{employee.firstName + " " + employee.lastName}}</td>
                            <td>
                                <span class="rate positive">4.9</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>Kelly Fleder - Battaramulla</td>
                            <td>1250</td>
                            <td>
                                <span *ngIf="employee.isActive" class="active">Active</span>
                                <span *ngIf="!employee.isActive" class="deactive">Deactive</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;" routerLink="/employee/add" [queryParams]="{id: employee.id}"></i>
                                <i *ngIf="employee.isActive" class="fa-solid fa-trash" title="Remove" (click)="onClickRemove(employee.id)"></i>
                                <i *ngIf="!employee.isActive" class="fa-regular fa-circle-check" title="Active" (click)="enableEmployee(employee.id)"></i>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate positive">4.9</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>Kelly Fleder - Battaramulla</td>
                            <td>1250</td>
                            <td>
                                <span class="active">Active</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate regular">3.2</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>Kelly Fleder - Battaramulla</td>
                            <td>1250</td>
                            <td>
                                <span class="active">Active</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate negative">2.4</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>Kelly Fleder - Battaramulla</td>
                            <td>1250</td>
                            <td>
                                <span class="deactive">Deactive</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <div class="logo">
                                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                </div>
                            </td>
                            <td>Kelly Felder - Outlet 001</td>
                            <td>
                                <span class="rate positive">4.9</span>
                            </td>
                            <td>Women Hand Bag</td>
                            <td>Kelly Fleder - Battaramulla</td>
                            <td>1250</td>
                            <td>
                                <span class="active">Active</span>
                            </td>
                            <td class="action-icon">
                                <i class="fa-regular fa-pen-to-square" style="margin-right: 10px;"></i>
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="footer-section">
                <div class="table-data-size">
                    <label>Showing Products 1 to {{pageSize}} of {{totalElements}}</label>
                    <label>Display</label>
                    <select class="drp-table-size" (change)="onTableSizeChange($event)">
                        <option *ngFor="let size of tableSizes">
                            {{size + "/" + totalElements}}
                        </option>
                    </select>
                </div>
                <div class="btn-section">
                    <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-warning-popup *ngIf="isDisplayWarningPopup"
    (onClickYes)="onClickYesWarningPopup()"
    (onClickClose)="closeWarningPopup()"></app-warning-popup>

