<div class="container">
    <div class="add-company">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="generalInformation">
                    <!-- progressbar -->
                    <ul id="titlebar">
                        <li [ngClass]="step==1 ? 'active' : 'inactive'">General Information</li>
                        <li [ngClass]="step==2 ? 'active' : 'inactive'">Company Logo</li>
                        <li [ngClass]="step==3 ? 'active' : 'inactive'">Login Details</li>
                    </ul>
                    
                    <div class="general-info" *ngIf="step == 1">
                        <div class="hint-text">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.6602 10.44L20.6802 14.62C19.8402 18.23 18.1802 19.69 15.0602 19.39C14.5602 19.35 14.0202 19.26 13.4402 19.12L11.7602 18.72C7.59018 17.73 6.30018 15.67 7.28018 11.49L8.26018 7.30001C8.46018 6.45001 8.70018 5.71001 9.00018 5.10001C10.1702 2.68001 12.1602 2.03001 15.5002 2.82001L17.1702 3.21001C21.3602 4.19001 22.6402 6.26001 21.6602 10.44Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.0603 19.3901C14.4403 19.8101 13.6603 20.1601 12.7103 20.4701L11.1303 20.9901C7.16034 22.2701 5.07034 21.2001 3.78034 17.2301L2.50034 13.2801C1.22034 9.3101 2.28034 7.2101 6.25034 5.9301L7.83034 5.4101C8.24034 5.2801 8.63034 5.1701 9.00034 5.1001C8.70034 5.7101 8.46034 6.4501 8.26034 7.3001L7.28034 11.4901C6.30034 15.6701 7.59034 17.7301 11.7603 18.7201L13.4403 19.1201C14.0203 19.2601 14.5603 19.3501 15.0603 19.3901Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M12.6406 8.52979L17.4906 9.75979" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M11.6602 12.3999L14.5602 13.1399" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Fill all information below</span>
                        </div>

                        <fieldset *ngIf="step == 1">
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>Company Name</label><br>
                                    <input 
                                        type="text"
                                        class="form-control"
                                        formControlName="companyName"
                                        [ngClass]="{'is-invalid' : CompanyName?.touched && CompanyName?.invalid}"
                                        placeholder="Company Name"/>
                                    <div *ngIf="CompanyName.touched && CompanyName.invalid" class="invalid-tooltip">
                                        <div *ngIf="CompanyName.errors?.required">Company name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>Company Description</label><br>
                                    <textarea
                                        class="form-control"
                                        formControlName="companyDescription"
                                        [ngClass]="{'is-invalid' : CompanyDescription?.touched && CompanyDescription?.invalid}"
                                        rows="4" 
                                        placeholder="Enter Company Description">
                                    </textarea>
                                    <div *ngIf="CompanyDescription.touched && CompanyDescription.invalid" class="invalid-tooltip">
                                        <div *ngIf="CompanyDescription.errors?.required">Company Description is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Company Owner Name</label><br>
                                    <input 
                                        class="form-control"
                                        type="text"
                                        formControlName="ownerName"
                                        [ngClass]="{'is-invalid' : OwnerName?.touched && OwnerName?.invalid}"
                                        placeholder="Owner Name"/>
                                </div>
                                <div class="col-md-6 group">
                                    <label>Company Category</label><br>
                                    <ng-select
                                        [ngClass]="{'is-invalid' : CompanyCategory?.touched && CompanyCategory?.invalid}"
                                        name="category"
                                        formControlName="companyCategory">
                                        <ng-option [value]="0">Choose type</ng-option>
                                        <ng-option *ngFor="let category of companyTypes" [value]="category.id">{{category.name}}</ng-option>
                                    </ng-select>
                                    <div *ngIf="CompanyCategory.touched && CompanyCategory.invalid" class="invalid-tooltip">
                                        <div *ngIf="CompanyCategory.errors?.min">Company Category is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Company Tax ID</label><br>
                                    <input 
                                        class="form-control"
                                        type="text"
                                        formControlName="taxID"
                                        [ngClass]="{'is-invalid' : TaxID?.touched && TaxID?.invalid}"
                                        placeholder="Company Tax ID"/>
                                </div>
                                <div class="col-md-6 group">
                                    <label>Contact Phone</label><br>
                                    <input 
                                        class="form-control"
                                        type="number"
                                        formControlName="phone"
                                        [ngClass]="{'is-invalid' : Phone?.touched && Phone?.invalid}"
                                        [appCustomMaxLength]="10"
                                        appRestrictNumberInput
                                        placeholder="Enter Contact Phone" />
                                    <div *ngIf="Phone.touched && Phone.invalid" class="invalid-tooltip">
                                        <div *ngIf="Phone.errors?.required">Contact Phone is required.</div>
                                        <div *ngIf="!Phone.errors?.required && Phone.errors?.sriLankanPhone">Please enter a valid mobile number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 group">
                                    <label>Email</label><br>
                                    <input 
                                        class="form-control"
                                        type="email"
                                        formControlName="email"
                                        [ngClass]="{'is-invalid' : Email?.touched && Email?.invalid}"
                                        placeholder="Enter Company Email"/>
                                    <div *ngIf="Email.touched && Email.invalid" class="invalid-tooltip">
                                        <div *ngIf="Email.errors?.required">Email is required.</div>
                                        <div *ngIf="Email.errors?.email">Please enter a valid email.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Website URL</label><br>
                                    <input 
                                        class="form-control"
                                        type="text"
                                        formControlName="websiteURL" 
                                        [ngClass]="{'is-invalid' : WebsiteURL?.touched && WebsiteURL?.invalid}"
                                        placeholder="Enter Website URL"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="footer-btn">
                                    <div></div>
                                    <div class="btn-section">
                                        <button class="btn btn-next" [disabled]="generalInformation.invalid" (click)="next()">Next
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>

                <form>
                    <div class="images-and-videos" *ngIf="step == 2">
                        <div class="hint-text">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.6602 10.44L20.6802 14.62C19.8402 18.23 18.1802 19.69 15.0602 19.39C14.5602 19.35 14.0202 19.26 13.4402 19.12L11.7602 18.72C7.59018 17.73 6.30018 15.67 7.28018 11.49L8.26018 7.30001C8.46018 6.45001 8.70018 5.71001 9.00018 5.10001C10.1702 2.68001 12.1602 2.03001 15.5002 2.82001L17.1702 3.21001C21.3602 4.19001 22.6402 6.26001 21.6602 10.44Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.0603 19.3901C14.4403 19.8101 13.6603 20.1601 12.7103 20.4701L11.1303 20.9901C7.16034 22.2701 5.07034 21.2001 3.78034 17.2301L2.50034 13.2801C1.22034 9.3101 2.28034 7.2101 6.25034 5.9301L7.83034 5.4101C8.24034 5.2801 8.63034 5.1701 9.00034 5.1001C8.70034 5.7101 8.46034 6.4501 8.26034 7.3001L7.28034 11.4901C6.30034 15.6701 7.59034 17.7301 11.7603 18.7201L13.4403 19.1201C14.0203 19.2601 14.5603 19.3501 15.0603 19.3901Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M12.6406 8.52979L17.4906 9.75979" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M11.6602 12.3999L14.5602 13.1399" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Upload company logo</span>
                        </div>

                        <div class="uploaded-image">
                            <div class="image-container" *ngFor="let image of imageDataList; let i = index">
                                <img [src]="imageUrls[i]"><br>
                                <span>{{image.filePath}}</span>
                                <div class="img-remove">
                                    <i class="fa-solid fa-circle-xmark" (click)="removeImage(i)"></i>
                                </div>
                            </div>
                        </div>

                        <div class="file-container" *ngIf="imageDataList.length == 0">
                            <input type="file" class="file" (change)="getFile($event)" accept="image/*">
                            <label>
                                <svg width="54" height="54" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.4">
                                    <path d="M9 17V11L7 13" stroke="var(--sub-ele-text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 11L11 13" stroke="var(--sub-ele-text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="var(--sub-ele-text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="var(--sub-ele-text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <h4 (click)="$event.stopPropagation()">Drop files here or click to upload.</h4>
                            </label>
                        </div>
    
                        <div class="row">
                            <div class="footer-btn">
                                <div></div>
                                <div class="btn-section">
                                    <button class="btn btn-back" (click)="previous()">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-next" [disabled]="imageDataList.length == 0" (click)="next()">Next
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form hidden="true">
                    <div class="assign-outlets" *ngIf="step == 3">
                        <div class="hint-text">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.6602 10.44L20.6802 14.62C19.8402 18.23 18.1802 19.69 15.0602 19.39C14.5602 19.35 14.0202 19.26 13.4402 19.12L11.7602 18.72C7.59018 17.73 6.30018 15.67 7.28018 11.49L8.26018 7.30001C8.46018 6.45001 8.70018 5.71001 9.00018 5.10001C10.1702 2.68001 12.1602 2.03001 15.5002 2.82001L17.1702 3.21001C21.3602 4.19001 22.6402 6.26001 21.6602 10.44Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.0603 19.3901C14.4403 19.8101 13.6603 20.1601 12.7103 20.4701L11.1303 20.9901C7.16034 22.2701 5.07034 21.2001 3.78034 17.2301L2.50034 13.2801C1.22034 9.3101 2.28034 7.2101 6.25034 5.9301L7.83034 5.4101C8.24034 5.2801 8.63034 5.1701 9.00034 5.1001C8.70034 5.7101 8.46034 6.4501 8.26034 7.3001L7.28034 11.4901C6.30034 15.6701 7.59034 17.7301 11.7603 18.7201L13.4403 19.1201C14.0203 19.2601 14.5603 19.3501 15.0603 19.3901Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M12.6406 8.52979L17.4906 9.75979" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M11.6602 12.3999L14.5602 13.1399" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Search outlet and Assign Outlets to company</span>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <label>Outlets</label><br>
                                <select>
                                    <option value="">Choose Outlet to assign to Company</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label></label><br>
                                <button class="btn btn-assign" (click)="previous()">Assign</button>
                            </div>
                        </div>

                        <div class="added-outlets">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Added Outlets</label>
                                </div>
                            </div>
                            <div class="added-outlet-table">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table width="100%">
                                            <thead>
                                                <tr>
                                                    <th><span class="las la-sort"></span> Image</th>
                                                    <th><span class="las la-sort"></span> Outlet Name</th>
                                                    <th><span class="las la-sort"></span> Location</th>
                                                    <th><span class="las la-sort"></span> Rating</th>
                                                    <th><span class="las la-sort"></span> Category</th>
                                                    <th><span class="las la-sort"></span> Employees</th>
                                                    <th><span class="las la-sort"></span> Status</th>
                                                    <th><span class="las la-sort"></span> Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="logo">
                                                           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QCKIyHiPkoouLv349z1C4-vuEvaY8pX95A&s" class="logo-img bg-img" style="background-image: url(img/3.jpeg)" />
                                                        </div>
                                                    </td>
                                                    <td>Kelly Felder - Outlet 001</td>
                                                    <td>Battaramulla</td>
                                                    <td>
                                                        <span class="rate">4.9</span>
                                                    </td>
                                                    <td>Fashion Accessories</td>
                                                    <td>12</td>
                                                    <td>
                                                        <span class="active">Active</span>
                                                    </td>
                                                    <td>
                                                        <span class="remove">Remove</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="footer-btn">
                                <div class="company-status">
                                    <label>Company Status</label>
                                    <div class="form-check">
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="online" name="status" value="online">
                                            <label class="form-check-label" for="online">
                                                Online
                                            </label>
                                        </div>
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="offline" name="status" value="offline">
                                            <label class="form-check-label" for="offline">
                                                Offline
                                            </label>
                                        </div>
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="draft" name="status" value="draft">
                                            <label class="form-check-label" for="draft">
                                                Draft
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="btn-section">
                                    <button class="btn btn-back" (click)="previous()">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-next" (click)="onSave()">Save
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 2C4.44772 2 4 2.44772 4 3V21.382C4 22.1253 4.78231 22.6088 5.44721 22.2764L11.5528 19.2236C11.8343 19.0828 12.1657 19.0828 12.4472 19.2236L18.5528 22.2764C19.2177 22.6088 20 22.1253 20 21.382V3C20 2.44772 19.5523 2 19 2H5ZM18 4H6V20L12 17L18 20V4Z" fill="var(--inner-btn-color)"/>
                                            <path d="M14.8284 7.87865C14.4379 7.48812 13.8047 7.48812 13.4142 7.87865L11.2929 9.99994L10.5858 9.2928C10.1952 8.90228 9.56208 8.90228 9.17156 9.2928C8.78103 9.68333 8.78103 10.3165 9.17156 10.707L10.5797 12.1151C10.5817 12.1172 10.5837 12.1192 10.5858 12.1213C10.9763 12.5118 11.6095 12.5118 12 12.1213L14.8284 9.29286C15.2189 8.90234 15.2189 8.26917 14.8284 7.87865Z" fill="var(--inner-btn-color)"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form [formGroup]="loginDetails">
                    <div class="assign-outlets" *ngIf="step == 3">
                        <div class="hint-text">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.6602 10.44L20.6802 14.62C19.8402 18.23 18.1802 19.69 15.0602 19.39C14.5602 19.35 14.0202 19.26 13.4402 19.12L11.7602 18.72C7.59018 17.73 6.30018 15.67 7.28018 11.49L8.26018 7.30001C8.46018 6.45001 8.70018 5.71001 9.00018 5.10001C10.1702 2.68001 12.1602 2.03001 15.5002 2.82001L17.1702 3.21001C21.3602 4.19001 22.6402 6.26001 21.6602 10.44Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.0603 19.3901C14.4403 19.8101 13.6603 20.1601 12.7103 20.4701L11.1303 20.9901C7.16034 22.2701 5.07034 21.2001 3.78034 17.2301L2.50034 13.2801C1.22034 9.3101 2.28034 7.2101 6.25034 5.9301L7.83034 5.4101C8.24034 5.2801 8.63034 5.1701 9.00034 5.1001C8.70034 5.7101 8.46034 6.4501 8.26034 7.3001L7.28034 11.4901C6.30034 15.6701 7.59034 17.7301 11.7603 18.7201L13.4403 19.1201C14.0203 19.2601 14.5603 19.3501 15.0603 19.3901Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M12.6406 8.52979L17.4906 9.75979" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M11.6602 12.3999L14.5602 13.1399" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Company login details</span>
                        </div>

                        <fieldset *ngIf="step == 3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input 
                                        class="form-control"
                                        type="text"
                                        formControlName="companyEmail"
                                        [ngClass]="{'is-invalid' : CompanyEmail?.touched && CompanyEmail?.invalid}"
                                        placeholder="Enter company email"/>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input 
                                        class="form-control"
                                        type="password"
                                        formControlName="companyPassword"
                                        [ngClass]="{'is-invalid' : CompanyPassword?.touched && CompanyPassword?.invalid}"
                                        placeholder="Enter password"/>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="footer-btn">
                                <div class="company-status">
                                    <label>Company Status</label>
                                    <div class="form-check">
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="online" name="status" value="online">
                                            <label class="form-check-label" for="online">
                                                Online
                                            </label>
                                        </div>
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="offline" name="status" value="offline">
                                            <label class="form-check-label" for="offline">
                                                Offline
                                            </label>
                                        </div>
                                        <div class="radio-btn">
                                            <input type="radio" class="form-check-input" id="draft" name="status" value="draft">
                                            <label class="form-check-label" for="draft">
                                                Draft
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="btn-section">
                                    <button class="btn btn-back" (click)="previous()">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-next" [disabled]="generalInformation.invalid || loginDetails.invalid" (click)="onSave()">Save
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 2C4.44772 2 4 2.44772 4 3V21.382C4 22.1253 4.78231 22.6088 5.44721 22.2764L11.5528 19.2236C11.8343 19.0828 12.1657 19.0828 12.4472 19.2236L18.5528 22.2764C19.2177 22.6088 20 22.1253 20 21.382V3C20 2.44772 19.5523 2 19 2H5ZM18 4H6V20L12 17L18 20V4Z" fill="var(--inner-btn-color)"/>
                                            <path d="M14.8284 7.87865C14.4379 7.48812 13.8047 7.48812 13.4142 7.87865L11.2929 9.99994L10.5858 9.2928C10.1952 8.90228 9.56208 8.90228 9.17156 9.2928C8.78103 9.68333 8.78103 10.3165 9.17156 10.707L10.5797 12.1151C10.5817 12.1172 10.5837 12.1192 10.5858 12.1213C10.9763 12.5118 11.6095 12.5118 12 12.1213L14.8284 9.29286C15.2189 8.90234 15.2189 8.26917 14.8284 7.87865Z" fill="var(--inner-btn-color)"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
