<div class="container">
    <div class="service-summary">
        <h2>Service Summary</h2>
        <div class="card">
            <div class="card-body">
                <div class="service-details">
                    <div class="service-information">
                        <div class="row">
                            <h3>Service Title</h3>
                            <span class="service-title">Short barber haircut</span>
                            <h3>Service Description</h3>
                            <p class="service-description">
                                Establishment that offers professional hair styling services for men and women. Hair salons offer hair services including professional hair styling. hair styling services for men and women. Hair salons offer hair services including professional hair styling.
                            </p>
                        </div>
                    </div>
                    <div class="category-details">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Service Categories</h3>
                                <span class="category">Professional Hair Cut</span>
                            </div>
                            <div class="col-md-6">
                                <h3>Product Functionality</h3>
                                <span class="functionality">Enter Product Functionality</span>
                            </div>
                        </div>
                    </div>
                    <div class="service-image-details">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Image and Videos</h3>
                                <div class="service-images">
                                    <div class = "img-item">
                                        <img src="../../../../assets/images/bag1.jpg" alt="shoe image">
                                    </div>
                                    <div class = "img-item">
                                        <img src="../../../../assets/images/bag2.jpg" alt="shoe image">
                                    </div>
                                    <div class = "img-item">
                                        <img src="../../../../assets/images/bag3.jpg" alt="shoe image">
                                    </div>
                                    <div class = "img-item">
                                        <img src="../../../../assets/images/bag4.jpg" alt="shoe image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-details">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Total Price</h3>
                                <span class="price-detail">LKR 2700.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Discount Rate</h3>
                                <span class="price-detail">10%</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Net Price</h3>
                                <span class="price-detail">LKR 2475.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Total Duration</h3>
                                <span class="price-detail">1 hours 30 minutes</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="footer-btn">
                                <div></div>
                                <div class="btn-section">
                                    <button class="btn btn-back">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-complete">Complete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
