<div class="container">
    <div class="service-summary">
        <h2>Service Summary</h2>
        <div class="card" *ngIf="service != null">
            <div class="card-body">
                <div class="service-details">
                    <div class="service-information">
                        <div class="row">
                            <h3>Service Title</h3>
                            <span class="service-title">{{service.name}}</span>
                            <h3>Service Description</h3>
                            <p class="service-description">{{service.description}}</p>
                        </div>
                    </div>
                    <div class="category-details">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Service Categories</h3>
                                <span class="category">{{service.fetcherCategory.name}}</span>
                            </div>
                            <div class="col-md-6">
                                <h3>Product Functionality</h3>
                                <span class="functionality">Enter Product Functionality</span>
                            </div>
                        </div>
                    </div>
                    <div class="service-image-details">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Image and Videos</h3>
                                <div class="service-images">
                                    <div class="img-item" *ngFor="let image of service.fetcherMedia">
                                        <img [src]="getServiceImageUrl(image.url)" alt="{{image.name}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-details">
                        <h3>Price Details</h3>
                        <!-- <div class="row">
                            <div class="col-md-3">
                                <h3>Total Price</h3>
                                <span class="price-detail">LKR 2700.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Discount Rate</h3>
                                <span class="price-detail">10%</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Net Price</h3>
                                <span class="price-detail">LKR 2475.00</span>
                            </div>
                            <div class="col-md-3">
                                <h3>Total Duration</h3>
                                <span class="price-detail">1 hours 30 minutes</span>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="btn-add-section">
                                <button class="btn btn-add" [routerLink]="['/service/price']" [queryParams]="{ outletId: outletId, serviceId: serviceId }">
                                  <i class="fa-solid fa-plus"></i> Add
                                </button>
                              </div>
                            
                              <div class="pricing-details table-responsive">
                                <div class="pricing-data-section" *ngFor="let itemPrice of service.fetcherPrices">
                                  <div class="pricing-item">
                                    <label>Total Price</label>
                                    <span>LKR {{itemPrice.price}}</span>
                                  </div>
                                  <div class="pricing-item">
                                    <label>Discount Rate</label>
                                    <span>10%</span>
                                  </div>
                                  <div class="pricing-item">
                                    <label>Net Price</label>
                                    <span>LKR 2475.00</span>
                                  </div>
                                  <div class="pricing-item">
                                    <label>Total Duration</label>
                                    <span>{{itemPrice.duration}}</span>
                                  </div>
                                  <div class="btn-section">
                                      <button class="btn btn-edit" (click)="editPriceDetails(itemPrice.id)">
                                        <i class="fa-solid fa-arrow-left"></i> Edit
                                      </button>
                                  </div>
                                </div>
                              </div>
                        </div>

                        <!-- <div class="row">
                            <div class="footer-btn">
                                <div></div>
                                <div class="btn-section">
                                    <button class="btn btn-back">
                                        <i class="fa-solid fa-arrow-left"></i>Back
                                    </button>
                                    <button class="btn btn-complete">Complete</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
