<div class="container">
    <div class="package-list">
        <div class="packages table-responsive">
            <div class="package-menu-bar">
                <div class="browse">
                    <input type="search" placeholder="Search" class="record-search" [(ngModel)]="searchString" (ngModelChange)="onChangeSearch($event)">
                </div>
                <div class="filter-section">
                    <label>Province</label>
                    <select 
                        class="drp-sort" 
                        name="" 
                        id="" 
                        [(ngModel)]="provinceId"
                        (change)="onChangeProvince()">
                        <option value="0">Choose</option>
                        <option *ngFor="let province of provinceList" [value]="province.id">{{province.name}}</option>
                    </select>
                </div>
                <div class="filter-section">
                    <label>District</label>
                    <select 
                        class="drp-sort" 
                        name="" 
                        id=""
                        [(ngModel)]="districtId"
                        (change)="onChangeDistrict()">
                        <option value="0">Choose</option>
                        <option *ngFor="let district of districtList" [value]="district.id">{{district.name}}</option>
                    </select>
                </div>
                <div class="filter-section">
                    <label>City</label>
                    <select 
                        class="drp-sort" 
                        name="" 
                        id=""
                        [(ngModel)]="cityId"
                        (change)="onChangeCity()">
                        <option value="0">Choose</option>
                        <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                    </select>
                </div>
                <div class="btn-section">
                    <button class="btn btn-add" [routerLink]="['/outlet/add']" [queryParams]="{ companyId: companyId }">
                        <i class="fa-solid fa-plus"></i> Add Outlet
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngFor="let outlet of outletList">
                <div class="card company-summary-card" routerLink="/outlet/add" [queryParams]="{id: outlet.id, companyId: companyId}">
                    <div class="card-body">
                        <div class="card-header">
                            <img class="company-logo bg-img" [src]="mediaUrl + outlet.branchMedia[0].url" alt="">
                            <div class="title">
                                <h1 title="{{outlet.name}}">{{outlet.name}}</h1>
                                <span class="location">
                                    <i class="fa-solid fa-location-dot"></i> {{outlet.address}}
                                </span>
                            </div>
                        </div>
                        <h3>Shop Information</h3>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Category</label><br>
                                <span>NA</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Rating</label><br>
                                <span>NA</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Orders</label><br>
                                <span>NA</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Employees</label><br>
                                <span>NA</span>
                            </div>
                        </div>

                        <h3>Analysis</h3>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6 details">
                                <label>Active Products</label><br>
                                <span>NA</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Deactive Products</label><br>
                                <span>NA</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Active Services</label><br>
                                <span>NA</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Deactive Services</label><br>
                                <span>NA</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 details">
                                <label>Active Packages</label><br>
                                <span>NA</span>
                            </div>
                            <div class="col-md-6 details">
                                <label>Deactive Packages</label><br>
                                <span>NA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
