<div class="container">
    <div class="dashboard">
        <div class="row">
            <div class="col-md-12">
                <div class="add-company-card" [routerLink]="['/company/add']">
                    <div class="add-button">
                        <h1>Add New Company</h1>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class='hint-text'>
                        <span>Don't have company? Create your own company, it takes less than a minute </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" *ngIf="false">
            <div class="col-md-6">
                <div class="card performing-details">
                    <div class="card-body">
                        <h1>Top Performing Companies</h1>
                        <table class="table table-striped performing-details-grid">
                            <thead>
                                <tr>
                                  <th scope="col">Company</th>
                                  <th scope="col">Outlets</th>
                                  <th scope="col">Orders</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <span>Kelly Felder (Pvt) Ltd.</span><br>
                                    <span class="location">Baththaramulla</span>
                                </td>
                                  <td>15</td>
                                  <td>2865</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Saloon Amaya (Pvt) Ltd.</span><br>
                                        <span class="location">Kottawa</span>
                                    </td>
                                    <td>10</td>
                                    <td>821</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Focus Fitness (Pvt) Ltd.</span><br>
                                        <span class="location">Borella</span>
                                    </td>
                                    <td>2</td>
                                    <td>234</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card performing-details">
                    <div class="card-body">
                        <h1>Top Performing Outlets</h1>
                        <table class="table table-striped performing-details-grid">
                            <thead>
                                <tr>
                                  <th scope="col">Company</th>
                                  <th scope="col">No. employees</th>
                                  <th scope="col">Orders</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <span>Kelly Felder (Pvt) Ltd.</span><br>
                                    <span class="location">Baththaramulla</span>
                                </td>
                                  <td>15</td>
                                  <td>2865</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Saloon Amaya (Pvt) Ltd.</span><br>
                                        <span class="location">Kottawa</span>
                                    </td>
                                    <td>10</td>
                                    <td>821</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Focus Fitness (Pvt) Ltd.</span><br>
                                        <span class="location">Borella</span>
                                    </td>
                                    <td>2</td>
                                    <td>234</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

