<div class="container">
    <div class="profile">
        <div *ngIf="step == 1" class="account-information">
            <h2 class="title">Account Information</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-img">
                        <img class="bg-img" [src]="profileImageUrl" alt=""><br>
                        <button class="btn btn-change" (click)="openFileSelector()">Change</button>
                        <input type="file" style="display: none;" (change)="getFile($event)" #profileImgInput>
                    </div>
                </div>
                <div class="col-md-9">
                    <form [formGroup]="accountInfo">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>First Name</label><br>
                                    <input 
                                        type="text"
                                        class="form-control"
                                        formControlName="firstName"
                                        [ngClass]="{'is-invalid' : FirstName?.touched && FirstName?.invalid}"
                                        placeholder="First Name"/>
                                    <div *ngIf="FirstName.touched && FirstName.invalid" class="invalid-tooltip">
                                        <div *ngIf="FirstName.errors?.required">First Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>Last Name</label><br>
                                    <input 
                                        type="text"
                                        class="form-control"
                                        formControlName="lastName"
                                        [ngClass]="{'is-invalid' : LastName?.touched && LastName?.invalid}"
                                        placeholder="Last Name"/>
                                    <div *ngIf="LastName.touched && LastName.invalid" class="invalid-tooltip">
                                        <div *ngIf="LastName.errors?.required">Last Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Email address</label><br>
                                    <input 
                                        type="email"
                                        class="form-control"
                                        formControlName="email"
                                        [ngClass]="{'is-invalid' : Email?.touched && Email?.invalid}"
                                        placeholder="Email Address"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>Mobile Number</label><br>
                                    <input 
                                        type="number"
                                        class="form-control"
                                        formControlName="mobile"
                                        [ngClass]="{'is-invalid' : Mobile?.touched && Mobile?.invalid}"
                                        [appCustomMaxLength]="10"
                                        appRestrictNumberInput
                                        placeholder="Mobile Number"/>
                                    <div *ngIf="Mobile.touched && Mobile.invalid" class="invalid-tooltip">
                                        <div *ngIf="Mobile.errors?.required">Mobile Number is required.</div>
                                        <div *ngIf="!Mobile.errors?.required && Mobile.errors?.sriLankanPhone">Please enter a valid mobile number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 group">
                                    <label>Current Address</label><br>
                                    <input 
                                        type="text"
                                        class="form-control"
                                        formControlName="address"
                                        [ngClass]="{'is-invalid' : Address?.touched && Address?.invalid}"
                                        placeholder="Enter current address"/>
                                    <div *ngIf="Address.touched && Address.invalid" class="invalid-tooltip">
                                        <div *ngIf="Address.errors?.required">Current Address is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-update" (click)="onClickUpdate()">Update</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="step == 2" class="change-password">
            <h2 class="title">Change Password</h2>
            <form [formGroup]="changePWD">
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Current Password*</label><br>
                            <input 
                                type="password"
                                class="form-control"
                                formControlName="currentPWD"
                                [ngClass]="{'is-invalid' : CurrentPWD?.touched && CurrentPWD?.invalid}"
                                placeholder="Current Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>New Password*</label><br>
                            <input 
                                type="password"
                                class="form-control"
                                formControlName="newPWD"
                                [ngClass]="{'is-invalid' : NewPWD?.touched && NewPWD?.invalid}"
                                placeholder="New Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Confirm Password*</label><br>
                            <input 
                                type="password"
                                class="form-control"
                                formControlName="confirmPWD"
                                [ngClass]="{'is-invalid' : ConfirmPWD?.touched && ConfirmPWD?.invalid}"
                                placeholder="Confirm Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-update">Update</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>